body{
  background: black;
  background-image: url(../img/logo.png) no-repeat center;
  /*background: linear-gradient(to right, #eabe3f, #2908f5, #2ecc71, #bebebe, #a05811);*/
}
.home{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: 1px;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12{
  padding: 2px;
  border-radius: 15px;
  padding-top: 10px;
}

.box1{
  background: gold;
  text-align: center;
}
.box2{
  background: blue;
  text-align: center;
}
.box3{
  background: pink;
  text-align: center;
}
.box4{
  background: brown;
  text-align: center;
}
.bloc{
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-gap: 1px;
}

.blocS{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
}

.blocI{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
}

.box5, .box6, .box7{
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1px;
}

.box51, .box61, .box71{
  margin-bottom: 0px;
  padding-top: 10px;
}

.box51, .box54, .box61, .box64, .box71, .box74{
  text-align: center;
}

.box61{
  text-align: right;
  padding-right: 40px;
}

.box53, .box63, .box73{
  margin-left: 20px;
}
.box5, .box6, .box7, .box8{
  background: white;
}
.box9{
  background: grey;
  text-align: center;
}
.box10{
  background: red;
  text-align: center;
}
.box11{
  background: magenta;
  text-align: center;
}
.box12{
  background: cyan;
  text-align: center;
}

.ul, .li{
  text-align: left;
}

form{
  text-align: right;
}

.button{
  text-align: center;
  padding-left: 20px;
}
